<nav>
  <h1 class="app-title"> App Name </h1>
  <ul class="headings">
    <li class="heading-item">Login</li>
    <li class="heading-item">Sign Up</li>
    <li class="heading-item">Home</li>
  </ul>
</nav>
