div.main-cal-container {

    h1 {
      text-align: center;
      font-family: 'Amatic SC', cursive;
      letter-spacing: 2px;
      margin-bottom: 0px;
    }

    p.notice{
      margin-top: 0px;
      text-align: center;
      letter-spacing: 2px;
      font-family: 'Amatic SC', cursive;
    }

    span#pink {
      padding: 3px;
      font-size: 23px;
      background-color: $StudentPink
    }

    span#yellow {
      padding: 3px;
      font-size: 23px;
      background-color: $TeacherYellow
    }



    div.events-sub-container {
      box-sizing: border-box;
      width: 1020px;
      margin: auto;

        div {
          width: 170px;
          display: inline-block;
          padding: 15px;
          margin-left: 1px;
          margin-right: 1px;
          border-radius: 8px;
          margin-bottom: 5px;
        }

        div.student {
          background-color: $StudentPink
        }

        div.teacher {
          background-color: $TeacherYellow

        }
    }
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
