div.whole-form {
  max-width: 900px;
  margin: auto;

    svg {
      width: 40px;
    }
}

h1.form-title {
  margin: auto;
  width: 700px;
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Amatic SC', cursive;
}

form.create-form {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(250, 168, 46);
  font-size: 24px;

    label {
      margin-right: 10px;
    }

    label.dishes {
      margin-left: 30px;
    }

    select {
      margin-right: 30px;
      font-size: 16px;
    }

    input[type=submit] {
      background: $OrangeAccent;
      font-family: $HeaderFont;
      font-weight: bold;
      border: 2px $LightBlue solid;
      margin-top: 10px;
      border-radius: 10px;
      letter-spacing: 2px;
      font-size: 18px;
    }
}
