div.cal-headers {
  box-sizing: border-box;
  border-bottom: 2px $LightBlue solid;

    div.header {
      box-sizing: border-box;
      text-align: center;
      display: inline-block;
      width: 33.3%;
    }
}

div.fillers {
  box-sizing: border-box;
  border-bottom: 2px $LightBlue solid;

    div.body {
      box-sizing: border-box;
      text-align: center;
      display: inline-block;
      width: 33.3%;
      border-right: 2px $LightBlue solid;
    }

    div.body:last-child {
      border: 0px;
    }
}
