header.page-header {
  border: 1px orange dotted;

    p.main-header-text {
      margin-top: 0px;
      margin-left: 40px;
      color: white;
      font-size: 70px;
      display: inline-block;
      font-family: 'Amatic SC', cursive;
    }
}

@import "nav";
