header.page-header {
  max-width: 1000px;
  margin: auto;

    p.main-header-text {
      margin-top: 20px;
      margin-bottom: 0px;
      color: white;
      font-size: 70px;
      display: inline-block;
      font-family: $HeaderFont;
      height: 40px;
      margin-right: 20px;

        a {
          text-decoration: none;
          color: white;
        }
    }
}

@import "nav";
