div.header {
  display: inline-block;


    nav.main-nav {

      position: relative;
      top: 10px;
      height: 40px;

        div.left-side {
          width: 240px;
          display: inline-block;
          border-radius: 5px;
          padding: 10px;
          margin-right: 20px;

            a {
              text-decoration: none;
              color: white;
            }

            a:hover {
              color: $LightBlue;
            }
        }

        div.img-collection {
          position: relative;
          top: 15px;
          display: inline-block;
          width: 151px;
          margin-right: 20px;

            div.header-img {
              display: inline-block;
              width: 50px;
            }
        }

        div.right-side {
          position: relative;
          border-radius: 5px;
          padding: 10px;
          top: 10px;
          display: inline-block;
          margin-right: 20px;

            div.invisible {
              width: 0px;
              display: none;
            }

            div.middle {
              text-align: center;

                p.stats-title {
                  margin-top: 0px;
                }
            }

            div.key {
              width: 120px;
              display: inline-block;
            }

            div.number {
              width: 40px;
              margin-left: 10px;
              text-align: right;
              display: inline-block;
            }
        }
    }
}
