div.edit-profile {

    h1.profile-header {
      margin-top: 50px;
      text-align: center;
      letter-spacing: 2px;
      font-family: $HeaderFont;
      position: relative;
    }

    h1.profile-header svg {
      position: relative;
      top: 7px;
      width: 40px;
    }


    div.table {
      margin-left: 25%;

        div.left-side {
          width: 200px;
          display: inline-block;
          text-align: right;
          margin-right: 40px;

            div.title {

                p {
                  font-size: 24px;
                  font-family: $HeaderFont;
                  letter-spacing: 2px;
                }
            }
        }

        div.right-side {
          display: inline-block;

            div.body {

                div.small-icon {
                  position: relative;
                  display: inline-block;
                  margin-right: 4px;
                  top: 7px;

                    svg {
                      position: relative;
                      right: 3px;
                      height: 40px;
                    }
                }
            }
        }
    }
}
