
div.login-top {
  background-color: $MainBackgroundColor;

    h1.login-header {
      text-align: center;
      color: white;
      font-size: 100px;
      font-family: 'Amatic SC', cursive;
    }

    div.login-pictures {
      width: 100%;

        div.login-picture-item {
          display: inline-block;
          width: 20%;
          background-color: $MainBackgroundColor;
          height: 20px;

            svg {
              margin: 23%;
              width: 100px;
            }
        }
    }

}

div.login-lower {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  text-align: center;

    a {
      font-family: sans-serif;
      color: $LightBlue;
      font-size: 14px;
    }
}
