$MainBackgroundColor: rgb(20, 151, 187);
$HightlightColor: rgb(0, 188, 212);
$LightBlue: rgb(178, 235, 242);
$OrangeAccent: rgb(255, 152, 0);
$StudentPink: rgb(255, 112, 143);
$TeacherYellow: rgb(253, 213, 104);
